@model CadastrarUsuarioViewModel

<form asp-action="Cadastrar">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="col-auto">
        <label asp-for="@Model.Email"><strong>Email:</strong></label><br>
        <input asp-for="@Model.Email" required><br>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <label asp-for="@Model.NomeCompleto"><strong>Nome Completo:</strong></label><br>
        <input asp-for="@Model.NomeCompleto" required ><br>
        <span asp-validation-for="@Model.NomeCompleto" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <label asp-for="@Model.CPF"><strong>Cpf:</strong></label><br>
        <input asp-for="@Model.CPF" required><br>
        <span asp-validation-for="@Model.CPF" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <label asp-for="@Model.DataNascimento"><strong>Data Nascimento:</strong></label><br>
        <input asp-for="@Model.DataNascimento" required ><br>
        <span asp-validation-for="@Model.DataNascimento" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <label asp-for="@Model.Telefone"><strong>Telefone:</strong></label><br>
        <input asp-for="@Model.Telefone" required><br>
        <span asp-validation-for="@Model.Telefone" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <label asp-for="@Model.Senha"><strong>Senha:</strong></label><br>
        <input asp-for="@Model.Senha" required ><br>
        <span asp-validation-for="@Model.Senha" class="text-danger"></span>
    </div>

     <div class="col-auto">
        <label asp-for="@Model.ConfirmacaoSenha"><strong>Confirmação de Senha:</strong></label><br>
        <input asp-for="@Model.ConfirmacaoSenha" required ><br>
        <span asp-validation-for="@Model.ConfirmacaoSenha" class="text-danger"></span>
    </div>

     <button class="btn btn-primary" type="submit" style="margin-top: 1%;">Cadastrar</button>

     <a class="btn btn-secondary" asp-action="Login" style="margin-top: 1%;">Cancelar</a>

</form>