@model LoginViewModel

<form asp-action="Login" class="m-2">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="col-auto">
        <label asp-for="@Model.Email"><strong>Email:</strong></label><br>
        <input asp-for="@Model.Email">
        <span asp-validation-for="@Model.Email"></span>
    </div>

    <div class="col-auto">
        <label asp-for="@Model.Senha"><strong>Senha:</strong></label><br>
        <input asp-for="@Model.Senha" required >
        <span asp-validation-for="@Model.Senha"></span>
    </div>
    
    <input asp-for="@Model.returnUrl" hidden>
     
     <button class="btn btn-primary" type="submit" style="margin-top: 1%;">Entrar</button>
     <a class="btn btn-secondary" asp-action="Cadastrar" style="margin-top: 1%;">Cadastrar</a>
     <a class="btn btn-secondary" style="margin-top: 1%;">Esqueci Senha</a>

</form>